/* The Magic */
.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    height: 10rem;
}


.accordion-item-content,
.accordion:hover .accordion-item-content {
    height: 0;
    overflow: hidden;
    transition: height .25s;
}

.accordion h1, .accordion p {
    color: white;
}

.accordion {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    
}

.accordion .accordion-item {
  border-bottom: 1px solid rgba(207, 186, 186, 0.308);
  padding: 1em;
  color: #eee;
}

.accordion h1 {
  margin: 0;
}

.accordion .accordion-item:nth-child(1) {
  background-color: #FEA82F;

}

.accordion .accordion-item:nth-child(2) {
  background-color: #7FBCD2;
}

.accordion .accordion-item:nth-child(3) {
  background-color: #B980F0;
}

.accordion .accordion-item:nth-child(4) {
  background-color: #7FB77E;
}

.accordion .accordion-item:nth-child(5) {
  background-color: #FF9999;
}

.accordion .accordion-item:nth-child(6) {
  background-color: #1B9AAA;
}

.accordion .accordion-item:nth-child(7) {
  background-color: #7faa1b;
}